<%= form_for(@ewo) do |f| %>
  <% if @ewo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ewo.errors.count, "error") %> prohibited this ewo from being saved:</h2>

      <ul>
      <% @ewo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
